.App-header {
  background-color: navy;
  color: white;
  text-align: center;
  padding:10px;
}

.box {
  background-color: pink;
  color: white;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
}